$font-stack:    Raleway, sans-serif
$primary-color: black
$table-color:#00ffff
$table-colors:#ff66a3
$td-color: #00ff00
$picsize: 200px
$hr-length: 200px
$h3: white

body 
  font-family: $font-stack
  color: $primary-color
  border: 0px

img
  height: $picsize
  width: $picsize

hr
  width: $hr-length

h1
  color: $td-color

h2
  color: $h3

#contact
  background-color: $td-color

table
  background-color: $table-color
  
#rence
 background-color: $table-colors
